body {
    padding: 0;
    margin: -8px;
    cursor: url("assets/icon/copy_icon.svg") auto;
    width: 100vw;
    height: 100%;
    /*border: 2px solid gainsboro;*/
}
.window {
    width: 100%;
    height: 95vh;
    background: #F9F9F9;
}
.head {
    width: 100%;
    height: 8vh;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.head_footer_part {
    width: 50%;
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin: 0 5%;
}
.logo {
    padding: 2vh 6vh 0 0;
    color: #292A2C;
}
.head_btn {
    height: 6vh;
    padding: 2vh 2vh 0 2vh;
    color: #292A2C;
}
.head_btn:hover {
    cursor: pointer;
    color: #199577!important;
    border-bottom: 3px solid #199577;
    font-weight: bold;
}
.WD_icon {
    height: 40%;
    margin: auto 4px;
}
.WD_icon_text {
    font-size: 16px;
    margin: auto 4px;
}
.text_green_icon {
    vertical-align: baseline;
    color: #199577;
    margin: auto;
    font-family: "Arial";
    font-size: 14px;
}
.text_black_icon {

    margin: auto 4px;
    font-family: "Arial";
    font-size: 14px;
}

.circle_hover:hover {
    border-radius: 50%;
    background: #F4F4F4;
    /*outline: 2px solid #F4F4F4;*/
    cursor: pointer;
   }
.translate_window {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50%;
    margin: 8% auto auto auto;
    /*border:2px solid gainsboro;*/
}
.translate_bookmark {
    display: flex;
    width: auto;
    flex-direction: row;
    font-size: 14px;
    color: #292A2C;
    z-index: 1;
}
.holder_bookmark {
    background: white;
}
.bookmark_active {
    width: 100%;
    background: white;
    border-radius: 8px 8px 0 0;
    border-left: 1px solid #C8C8C8;
    border-top: 1px solid #C8C8C8;

}
.bookmark_disabled {
    background: #F4F4F4;
    border-radius: 8px 8px 0 16px;
    border-left: 1px solid #C8C8C8;
    border-bottom: 1px solid #C8C8C8;
    width: 10%;
}
.bookmark {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*border-top: 1px solid #C8C8C8;*/
    font-size: 14px;
    width: 10%;
    padding: 12px 16px 0 16px;
    line-height: 19px;
}
.icon_self_bookmark {
    margin: auto auto auto 16px;
}
.block_translation {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: white;
    border-right: 1px solid #C8C8C8;
    border-left: 1px solid #C8C8C8;
    border-bottom: 1px solid #C8C8C8;
    padding: 8px 24px 24px 24px;
    border-radius: 0 0 8px 8px;
}
.translate_language {
    display: flex;
    justify-content: space-between;
    height: 36px;
    color: #199577;
    font-size: 16px;
    font-family: Arial;
    margin-bottom: 8px;
}
.translate_language_left {
    width: 50%;
}
.translate_language_right {
    text-align: end;
    width: 50%;
}
.translate_form {
    display: flex;
    justify-content: space-between;
    height: 100%;
    border: 1px solid #C8C8C8;
    border-radius: 8px;
    color: #7F8284;
    font-size: 24px;
    font-family: Arial;
}
.table-row {
    display: flex;
    flex-direction: row;
}
.table_column {
    display: flex;
    flex-direction: column;
}
.translate_left_part {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 16px 0 0 16px ;
    border-right: 1px solid #C8C8C8;
}
.translate_right_part {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 16px 0 0 16px ;
}
.text_start {
    height: 90%;
    width: 90%;
    margin: auto 16px ;
}
.footer {
    width: 100%;  height: 5vh; background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}
.head_footer_left {
    justify-content: start;
}
.head_footer_right {
    justify-content: end;
}
.footer_link {
    color: #7F8284;
    margin: auto 16px;
    font-family: "Arial";
    font-size: 12px;
}
.right_align {
    /*border: 1px solid gainsboro;*/
    justify-content: end;
}
.dictionary {
    font-weight: bold;
    font-size: 12px;
    margin-right: 8px;
}
.text_hover:hover {
    cursor: pointer;
    font-size: 12px;
    color: #199577;
}